{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% for owner in resume_owner %} {{ owner.first_name|add:" "|add:owner.middle_name|add:" "|add:owner.last_name }} - {{ owner.designation }}{% endfor %}</title>
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/nivo-lightbox/nivo-lightbox.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'vendor/nivo-lightbox/themes/default/default.css' %}" type="text/css" />
<link href="{% static 'vendor/perfect-scrollbar/css/perfect-scrollbar.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/owl.carousel/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'vendor/owl.carousel/owl-carousel/owl.theme.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
{% for owner in resume_owner %}
    <div class="loader-container" id="page-loader">
      <div class="loading-wrapper">
        <div class="loader-animation" id="loader-animation">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
        <div class="loader-name" id="loader-name">
            {{ owner.first_name }} <strong>{{ owner.last_name }}</strong>
        </div>
        <p class="loader-job" id="loader-job">{{ owner.designation }}</p>
      </div>
    </div>
{% endfor %}
<section id="body" class="">
	<div class="container">
        {% if user.is_authenticated %}
            <div class="nav navbar-fixed-top navbar-inverse">
               <ul class="nav-list">
                   <li><a href="" class="nav-list">Home</a></li>
               </ul>
            </div>
        {% endif %}
		<div class="main-menu" id="main-menu">
			<ul class="main-menu-list">
				<li><a href="#page-resume" class="link-home">Home</a></li>
				<li><a href="#page-resume" class="link-page">Resume</a></li>
				<li><a href="#page-skills" class="link-page">Skills</a></li>
				<li><a href="#page-portfolio" class="link-page">Portfolio</a></li>
				<li><a href="#page-blog" class="link-page">Blog</a></li>
				<li><a href="#page-contact" class="link-page">Contact</a></li>
			</ul>
		</div>
		<div class="section-vcardbody section-home" id="section-home">
			<div class="vcard-profile-pic">
				<img src="{% static 'img/profile2.jpg' %}" id="profile2"  alt=""/>
				<img src="{% static 'img/profile.jpg' %}" id="profile1" class="profileActive" alt=""/>
			</div>
            {% for owner in resume_owner %}
                <div class="vcard-profile-description">
                    <h1 class="profile-title">Hi, i'm <span class="color1">{{ owner.first_name|add:" "|add:owner.last_name }}</span></h1>
                    <h2 class="profile-subtitle">{{ owner.designation }}</h2>
                    <hr class="hr1">
                    <div class="vcard-profile-description-text">
                        <p>{{ owner.description }}</p>
                    </div>
                    {% for contact in resume_owner_contacts %}
                        <div class="vcard-profile-description-feature">
                            <div class="vcard-profile-description-ft-item">
                                <p>Email: {{ contact.email }} / Phone: {{ contact.mobile }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
			<div class="vcard-footer">
                {% for account in social_accounts %}
                    <div class="footer-social-icons">
                        <a href="{{ account.instagram_url }}"><i class="fa fa-instagram"></i></a>
                        <a href="{{ account.facebook_url }}"><i class="fa fa-facebook"></i></a>
                        <a href="{{ account.twitter_url }}"><i class="fa fa-twitter"></i></a>
                        <a href="{{ account.linkedin_url }}"><i class="fa fa-linkedin"></i></a>
                        <a href="{{ account.github_url }}"><i class="fa fa-github"></i></a>
                        <a href="{{ account.bitbucket_url }}"><i class="fa fa-bitbucket"></i></a>
                        <a href="{{ account.youtube_url }}"><i class="fa fa-youtube"></i></a>
                    </div>
                {% endfor %}
			</div>
		</div>
		<div class="section-vcardbody section-page" id="page-resume">
			<div class="section-education">
	            <h2 class="section-title">Resume</h2>
	            <div class="resume-buttons header-page-buttons">
					<a href="#" class="btn btn-default btn-default2"><i class="fa fa-download"></i>&nbsp; Download my resume</a>
	            	<a href="#page-contact" class="btn btn-default btn-default2 link-page"><i class="fa fa-download"></i>&nbsp;  Get in Touch</a>
                </div>
				<h2 class="section-title2"><i class="fa fa-university"></i>&nbsp; Education</h2>
                {% for education in resume_owner_education_details %}
                    <div class="resume-item">
                        <h3 class="section-item-title-1">{{ education.course_name }}</h3>
                        <h4 class="graduation-time">{{ education.institution_name }} ({{ education.duration }}) - <span class="graduation-date">{{ education.graduation_year }}</span></h4>
                        <div class="graduation-description">
                          <p>{{ education.description }}</p>
                        </div>
                    </div>
                {% endfor %}
			</div>
			<div class="section-education">
	            <h2 class="section-title2"><i class="fa fa-flag"></i>&nbsp; Work Experience</h2>
                {% for experience in resume_owner_work_experience %}
                    <div class="resume-item">
                        <h3 class="section-item-title-1">{{ experience.organisation_name }}</h3>
                        <h4 class="job">{{ experience.position }} -
                            <span class="job-date">{{ experience.start_date|date:"F Y" }} - {{ experience.end_year|date:"F Y" }}</span>
                        </h4>
                        <div class="graduation-description">
                          <p>{{ experience.description }}</p>
                        </div>
                    </div>
                {% endfor %}
			</div>
            {% for document in resume_owner_file_documents %}
                <div class="page-footer">
                    <div class="resume-buttons">
                        <a href="{{ document.file_url }}" class="btn btn-default btn-default2">
                            <i class="fa fa-download"></i>&nbsp;
                            Download my resume
                        </a>
                        <a href="#page-contact" class="btn btn-default btn-default2 link-page">
                            <i class="fa fa-download"></i>&nbsp;  Get in Touch
                        </a>
                    </div>
                    <p class="footer-quote">"{{ document.owner_status }}" <br/>
                        <i>{{ document.owner.resume_owner.first_name|add:" "|add:document.owner.resume_owner.last_name }}</i>
                    </p>
                </div>
            {% endfor %}
		</div>
		<div class="section-vcardbody section-page" id="page-skills">
			<div class="section-skills">
	            <h2 class="section-title">SKILLS</h2>
	          	<h3 class="section-item-title-2"><i class="fa fa-users"></i>&nbsp;&nbsp; Professional Skills</h3>
				<ul class="skills-list">
                    <li>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="70%" style="width: 70%;">
                            <span class="sr-only">70% Complete</span>
                        </div>
                        <span class="progress-type">Comunication</span>
                        <span class="progress-completed">70%</span>
                      </div>
                    </li>
                    <li>
                      <div class="progress">
                        <div class="progress-bar progress-bar-2" role="progressbar" data-percent="85%" style="width: 85%;">
                            <span class="sr-only">85% Complete</span>
                        </div>
                        <span class="progress-type">Leadership</span>
                        <span class="progress-completed">85%</span>
                      </div>
                    </li>
                    <li>
                      <div class="progress" title="Doing my best!">
                        <div class="progress-bar progress-bar-3" role="progressbar" data-percent="85%" style="width: 85%;">
                            <span class="sr-only">85% Complete</span>
                        </div>
                        <span class="progress-type">Confidence</span>
                        <span class="progress-completed">85%</span>
                      </div>
                    </li>
                </ul>
	          	<h3 class="section-item-title-2"><i class="fa fa-laptop"></i>&nbsp;&nbsp; Software Skills</h3>
				<ul class="skills-list">
                    <li>
                      <div class="progress">
                        <div class="progress-bar" data-percent="85%" role="progressbar" style="width: 85%;">
                            <span class="sr-only">85% Complete</span>
                        </div>
                        <span class="progress-type">Adobe Photoshop</span>
                        <span class="progress-completed">85%</span>
                      </div>
                    </li>
                    <li>
                      <div class="progress">
                        <div class="progress-bar progress-bar-2" data-percent="85%" role="progressbar" style="width: 85%;">
                            <span class="sr-only">85% Complete</span>
                        </div>
                        <span class="progress-type">Adobe Illustrator</span>
                        <span class="progress-completed">85%</span>
                      </div>
                    </li>
                    <li>
                      <div class="progress">
                        <div class="progress-bar progress-bar-3" data-percent="40%" role="progressbar" style="width: 40%;">
                            <span class="sr-only">40% Complete</span>
                        </div>
                        <span class="progress-type">Adobe Fireworks</span>
                        <span class="progress-completed">40%</span>
                      </div>
                    </li>
                  </ul>
	          	<h3 class="section-item-title-2"><i class="fa fa-code"></i>&nbsp;&nbsp; Code Skills</h3>
				<ul class="skills-list">
                    <li>
                      <div class="progress">
                        <div class="progress-bar" data-percent="80%" role="progressbar" style="width: 80%;">
                            <span class="sr-only">80% Complete</span>
                        </div>
                        <span class="progress-type">HTML5 / CSS3</span>
                        <span class="progress-completed">80%</span>
                      </div>
                    </li>
                    <li>
                      <div class="progress">
                        <div class="progress-bar progress-bar-2" data-percent="60%" role="progressbar" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                        <span class="progress-type">Javascript</span>
                        <span class="progress-completed">60%</span>
                      </div>
                    </li>
                    <li>
                      <div class="progress">
                        <div class="progress-bar progress-bar-3" data-percent="40%" role="progressbar" style="width: 40%;">
                            <span class="sr-only">40% Complete</span>
                        </div>
                        <span class="progress-type">PHP</span>
                        <span class="progress-completed">40%</span>
                      </div>
                    </li>
                  </ul>
			</div>			
		</div>
		<div class="section-vcardbody section-page" id="page-portfolio">
			<div class="section-portfolio">
	            <h2 class="section-title">Portfolio</h2>
				<div class="projects-list">
					<div class="project-item">
						<a href="img/portfolio/p1.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p1.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p2.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p2.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p3.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p3.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p4.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p4.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p5.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p5.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p6.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p6.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p7.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p7.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p8.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p8.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
					<div class="project-item">
						<a href="img/portfolio/p9.jpg" class="project-thumbnail nivobox" data-lightbox-gallery="portfolio" style="background-image: url('img/portfolio/thumb-p9.jpg');">
							<div class="project-description-wrapper">
								<div class="project-description">
									<h2 class="project-title">Project Title</h2>
									<span class="see-more">Project Tags</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>			
		</div>
		<div class="section-vcardbody section-page" id="page-blog">
			<div class="section-blog">
	            <h2 class="section-title">Blog</h2>
				<div class="blog-posts">
					<div class="blog-item">
						<div class="blog-item-wrapper">
							<div class="blog-item-thumb">
								<a href="single.html" class="loadPost"><img src="img/blog1.jpg" alt=""></a>
							</div>
							<div class="blog-item-infos">
								<div class="blog-item-title-wrapper">
									<h2 class="blog-item-title title-border"><a href="single.html" class="loadPost">How to succeed in meetings</a></h2>
								</div>
								<div class="blog-item-description">
									<p><a href="single.html" class="loadPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales varius sagittis. Proin a arcu vitae turpis congue facilisis. Quisque a lectus pretium, sagittis augue in, fringilla risus....</a></p>
								</div>
								<div class="blog-item-link">
									<a href="single.html" class="btn btn-default loadPost">See More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-item-wrapper">
							<div class="blog-item-thumb">
								<a href="single.html" class="loadPost"><img src="img/blog2.jpg" alt=""></a>
							</div>
							<div class="blog-item-infos">
								<div class="blog-item-title-wrapper">
									<h2 class="blog-item-title title-border"><a href="single.html" class="loadPost">10 tips to improve your laptop</a></h2>
								</div>
								<div class="blog-item-description">
									<p><a href="single.html" class="loadPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales varius sagittis. Proin a arcu vitae turpis congue facilisis. Quisque a lectus pretium, sagittis augue in, fringilla risus....</a></p>
								</div>
								<div class="blog-item-link">
									<a href="single.html" class="btn btn-default loadPost">See More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-item-wrapper">
							<div class="blog-item-thumb">
								<a href="single.html" class="loadPost"><img src="img/blog3.jpg" alt=""></a>
							</div>
							<div class="blog-item-infos">
								<div class="blog-item-title-wrapper">
									<h2 class="blog-item-title title-border"><a href="single.html" class="loadPost">News of the week</a></h2>
								</div>
								<div class="blog-item-description">
									<p><a href="single.html" class="loadPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales varius sagittis. Proin a arcu vitae turpis congue facilisis. Quisque a lectus pretium, sagittis augue in, fringilla risus....</a></p>
								</div>
								<div class="blog-item-link">
									<a href="single.html" class="btn btn-default loadPost">See More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-item-wrapper">
							<div class="blog-item-thumb">
								<a href="single.html" class="loadPost"><img src="img/blog4.jpg" alt=""></a>
							</div>
							<div class="blog-item-infos">
								<div class="blog-item-title-wrapper">
									<h2 class="blog-item-title title-border"><a href="single.html" class="loadPost">How to be a leader</a></h2>
								</div>
								<div class="blog-item-description">
									<p><a href="single.html" class="loadPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales varius sagittis. Proin a arcu vitae turpis congue facilisis. Quisque a lectus pretium, sagittis augue in, fringilla risus....</a></p>
								</div>
								<div class="blog-item-link">
									<a href="single.html" class="btn btn-default loadPost">See More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-item-wrapper">
							<div class="blog-item-thumb">
								<a href="single.html" class="loadPost"><img src="img/blog5.jpg" alt=""></a>
							</div>
							<div class="blog-item-infos">
								<div class="blog-item-title-wrapper">
									<h2 class="blog-item-title title-border"><a href="single.html" class="loadPost">Tips to talk in public</a></h2>
								</div>
								<div class="blog-item-description">
									<p><a href="single.html" class="loadPost">Designed by Norway-based practice Snhetta, in collaboration with local firm EHDD, the 10-story concrete structure will compliment SFMOMA’s original...</a></p>
								</div>
								<div class="blog-item-link">
									<a href="single.html" class="btn btn-default loadPost">See More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section-pagination">
					<div class="row">
						<div class="col-xs-12">
							<span class="pagination-numbers">
								<a href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#">6</a>
							</span>
						</div>
					</div>								
				</div>
			</div>			
		</div>
		<div class="section-vcardbody section-page section-page-single" id="page-blog-single">
			<div class="section-blog-single">
				<div id="postHere"></div>
			</div>			
		</div>
		<div class="section-vcardbody section-page" id="page-contact">
			<div class="section-contact">
	            <h2 class="section-title">Contact</h2>
	            <div class="map">
	            	<div class="map-overlay"></div>
	            	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8352.985568651915!2d-0.12905994797222892!3d51.50665753790812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1spt-BR!2sbr!4v1443128181953" height="250" style="border:0" allowfullscreen></iframe>
	            </div>
                <div class="contact-infos">
                	<h4 class="contact-subtitle-1"><i class="fa fa-map"></i>&nbsp;   Address</h4>
                	<p>451 Lorem Ipsum, London - Uk</p>
                	<h4 class="contact-subtitle-1"><i class="fa fa-phone-square"></i>&nbsp; Phone</h4>
                	<p>+61 3 8376 6284</p>
                	<h4 class="contact-subtitle-1"><i class="fa fa-envelope"></i>&nbsp; Mail</h4>
                	<p>john.Rex@dotrex.com</p>
                </div>
	            <h4 class="contact-subtitle-1"><i class="fa fa-paper-plane-o"></i>&nbsp; Send Me a Message</h4>
		        <form id="contactForm" method="post" class="form">
		            <div class="form-group">
		            	<input class="form-control required" id="name" name="name" placeholder="Name" type="text" required />
		            </div>
		            <div class="form-group">
		            	<input class="form-control required" id="email" name="email" placeholder="Email" type="email" required />
		            </div>
		            <div class="form-group">
		            	<input class="form-control required" id="subject" type="text" name="subject" placeholder="Subject" required>
		            </div>
		            <div class="form-group">
		            	<textarea class="form-control required" id="message" name="message" placeholder="Message" rows="5" required></textarea>
		            </div>
		            <div class="form-group">
		            	<input type="submit" class="btn btn-default form-send" value="Send!">
		            </div>
		        </form>
			</div>			
		</div>
	</div>

</section>
<!-- Form Sucess -->
<div class="form-result modal-wrap" id="contactSuccess">
  <div class="modal-bg"></div>
  <div class="modal-content">
    <h4 class="modal-title"><i class="fa fa-check-circle"></i> Success!</h4>
    <p>Your message has been sent to us.</p>
  </div>
</div>
<!-- /Form Sucess -->
<!-- form-error -->
<div class="form-result modal-wrap" id="contactError">
  <div class="modal-bg"></div>
  <div class="modal-content">
    <h4 class="modal-title"><i class="fa fa-times"></i> Error</h4>
    <p>There was an error sending your message.</p>
  </div>
</div>
<!-- /form-error -->
<script src="{% static 'vendor/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/validate.js' %}"></script>
<script src="{% static 'vendor/holder.js' %}"></script>
<script src="{% static 'vendor/nivo-lightbox/nivo-lightbox.min.js' %}"></script>
<script src="{% static 'vendor/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl-carousel/owl.carousel.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{% static 'vendor/cross-browser.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="vendor/html5shiv.js"></script>
  <script src="vendor/respond.min.js"></script>
<![endif]-->
<!-- >> /JS
============================================================================= -->
</body>
</html>